body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
}

#canvas-container {
    position: relative;
}

button#control-buttons {
    transition-duration: 1s;
    border-radius: 12px;
    position: absolute;
    cursor: pointer;
    top: 10px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
}

button#control-buttond {
   
    transition-duration: 1s;
    border-radius: 12px;
    position: absolute;
    cursor: pointer;
    top: 10px; /* Adjust the top position as needed */
    left: 130px; /* Adjust the left position as needed */
}
button#back-menu{
    transition-duration: 1s;
    border-radius: 12px;
    position: absolute;
    cursor: pointer;
    top: 10px; /* Adjust the top position as needed */
    left: 250px; /* Adjust the left position as needed */

}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-5px);
    }
}

h1 {
    cursor: none;
    position: absolute;
    left: 500px;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite; /* To make it repeat */
    animation-timing-function: ease-in-out; /* Optional: smoother timing */
}
button#control-buttond:hover {
    background-color: #fb3030; /* Green */
    color: white;
}
button#control-buttons:hover {
    background-color: #0bf61b; /* Green */
    color: rgb(8, 0, 0);
}
button#back-menu:hover{
    background-color: aqua;
    color: black;
}
#display-count {
    color: aliceblue;
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    font-size: 18px;
}